.traitsDiv {
    margin: 10px;
}

table {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    justify-self: center;
    align-self: center;
    background-color: #001d32;
    height: 450px;
}

th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    color: white;
    border-color: white;
}

td {
    text-align: left;
}

tr {
    width: 100%;
}

tr:nth-child(even) {
    background: #002946
}

tr:hover {
    background-color: #0A335C;
}

table tbody {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
    overflow-y: hide;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}